.Button {
  font-size: 1rem;
  line-height: 1.5;
  padding: 4px 0;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  min-height: 32px;
  color: #333333;
  outline: none;

  &_primary {
    background: #ffcc00;
    padding: 4px 16px;
    color: #000000;
  }

  &_link {
    color: rgba(51, 51, 51, 0.6);
    &:hover {
      color: #333333;
    }
  }

  &_filter {
    border-radius: 8px;
    padding: 0;
    width: 32px;
    height: 32px;
    opacity: 0.4;

    > svg {
      padding: 10px 8px;
    }
  }

  &_filter:hover,
  &_filter:focus,
  &_selected {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    opacity: 1;
  }

  &-Group {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 32px;
    grid-auto-columns: max-content;
  }
}
