.Navigation {
  grid-area: navigation;
  justify-self: end;

  &-Links {
    @media screen and (max-width: 1020px) {
      display: none;
    }
  }

  &-Expand {
    display: none;

    @media screen and (max-width: 1020px) {
      display: flex;
    }
  }
}
