.Header {
  padding: 16px;
  display: grid;
  align-items: center;
  grid-gap: 14px;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  height: 32px;

  @media screen and (max-width: 1020px) {
    grid-template-columns: 1fr auto;
  }

  &-Logo {
    grid-row: 1/2;
    grid-column: 1/-1;
    //align-self: end;
  }

  &-Navigation {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'logo search navigation';

    @media screen and (max-width: 1020px) {
      grid-column: 2/3;
      grid-template-columns: 1fr;
    }
  }
}
