.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &-Main {
    justify-items: center;
    display: grid;
    grid-template-rows: auto 1fr;
    background: #f2f2f2;
    padding-left: 16px;
    padding-right: 16px;

    > * {
      max-width: 1020px;
      width: 100%;
    }
  }
}
