.Filters {
  display: grid;
  padding-top: 32px;
  padding-bottom: 32px;
  grid-column-gap: 16px;
  grid-template-columns: auto 1fr;
  overflow: hidden;

  &-Title {
    margin: 0;
    font-size: 36px;
    line-height: 32px;
    font-weight: inherit;

    @media screen and (max-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &-Options {
    display: grid;
    grid-column-gap: 16px;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: content-box;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 16px;
    margin: -16px;
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }

  @media screen and (max-width: 1020px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
